
h5 {
    font-weight: 700;
    font-size: medium;
    color: rgb(83, 72, 43);
  }
  .head {
    border-top: 2px solid rgb(83, 72, 43);
    border-bottom: 2px solid var(--light-blue);
    font-size: 12px;
    position: relative;
    margin-right: 1px;
    padding: 5px;
    width: 100%;
    align-content: initial;
  }
  table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;
  
    tbody {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;
  
      th {
        border: 1px solid #eee;
      }
  
      th,
      td {
        vertical-align: top;
        text-align: center;
        padding: 8px;
        &.icons {
          > * {
            margin-right: 5px;
            cursor: pointer;
          }
        }
      }
  
      tr {
        border-bottom: 1px solid #ccc;
      }
  
      tr:nth-child(even) {
        background-color: #eee;
      }
    }
    .summary {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }
  .card {
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .text {
    margin-top: 2rem;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: var(--color-danger);
    }
  }
  button {
    margin-top: 5px;
  }
  .count {
    display: flex;
    align-items: center;
    button {
      border: 1px solid var(--darkblue);
    }
    & > * {
      margin-right: 1rem;
    }
  }
  p{
      font-size: 14px;
  }
  h1 {
      width: 1000px;
      height: 600px;
      text-align: left;
      font-size: large;
  
    }